body {
    background-color: antiquewhite;
}

h1 {
    padding-top: 15px;
    text-align: center;
    text-decoration: underline;
}

#subTitle {
    width: 90%;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 400;
}

.infoContainer {
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border: 2px red solid;
    justify-content: space-around;
}

.card {
    padding: 10px 15px 10px 15px;
    border: 2px black solid;
    border-radius: 5%;
    background-color: azure;
    width: 20%;
}


h3 {
width: 95%;
text-align: center;
}

h5 {
    width: 98%;
    text-align: justify;
    font-size: .8em;
  height: 100px;
  
}

.rangeContainer {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
}

.btnGroup{
    display: flex;
    padding-top: 25px;
    padding-bottom: 5px;
    justify-content: space-evenly;
    width: 98%;
  }

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-text {
    display:inline-block;
    width: 90%;
    height: 70px;
    background-color: red;
    margin: 10px auto 10px auto;
    text-align: center;
    align-content: center;
    align-items: center;    
}
